---
import User from '@assets/icons/User.astro'
import Modules from '@assets/icons/Modules.astro'
const { img, title, description, name, courseSyllabus, slug, learn } =
  Astro.props
---

<article
  class="flex flex-col justify-start items-center rounded-lg bg-[#040d1c63] h-[380px] course-item mt-6 hover:-translate-y-2 hover:shadow-lg hover:shadow-gray-100/20 transition-all delay-100"
>
  <div
    class="relative mx-4 -mt-6 h-40 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white shadow-lg shadow-gray-100/10"
  >
    <img
      src={img}
      alt="Blog"
      class="object-cover h-[180px] w-80"
      transition:name={`image-${slug}`}
    />
  </div>
  <div class="flex flex-col justify-evenly items-start px-5 py-2 gap-2 flex-1">
    <h4 class="text-white text-xl course-title">{title}</h4>
    <p class="text-xs">
      {description}
    </p>
    <div class="flex justify-between items-center gap-10 mx-auto text-gray-400">
      <div class="text-xs flex justify-between items-center gap-1">
        <span><User class="size-4" /></span>
        <span>{name}</span>
      </div>
      <div class="text-xs flex justify-between items-center gap-1">
        <span><Modules class="size-4" /></span>
        <span>{courseSyllabus.length} Módulos</span>
      </div>
    </div>
  </div>
  <a
    href={`/courses/${slug}`}
    class="bg-[#00a2ff] text-center block transition hover:bg-[#00a2ff]/90 text-white rounded-lg active:scale-[0.97] px-4 py-1 mb-3"
    >Ir al Curso</a
  >
</article>
