---
import Button from '@components/Button.astro'
import ArrowNews from '@assets/icons/ArrowNews.astro'

const { url, image_url, title, description, published_at, source } = Astro.props
---

<article>
  <a href={url} target="_blank" class="flex flex-col justify-between">
    <img src={image_url} alt={title} class="rounded-lg object-cover h-full" />
  </a>
  <div class="flex flex-col min-h-full">
    <h4 class="text-white text-base font-bold">{title}</h4>
    <div class="flex flex-1">
      <p class="mt-2">{description}</p>
    </div>
    <p class="flex justify-between items-center my-2">
      <span class="text-[8px]">
        {published_at.slice(0, 10)}
      </span>
      <Button href={source} className="px-2 py-1 text-[10px]">
        <ArrowNews />
      </Button>
    </p>
  </div>
</article>

<style>
  article {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: fit-content;
    width: 100%;
    /*overflow: hidden;*/
  }

  article img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  article div {
    padding: 10px 0;
  }

  article div p {
    color: var(--letter);
    font-weight: 400;
    font-size: 13px;
  }
</style>
