---
import User from '@assets/icons/User.astro'
import Modules from '@assets/icons/Modules.astro'
const { img, title, description, name, modules, slug, learn } = Astro.props
---

<article
  class="flex flex-col justify-start items-center rounded-lg bg-[#0f2b4f] overflow-hidden"
>
  <img
    src={img}
    alt="Blog"
    class="object-cover h-[180px] w-full"
    transition:name={`image-${slug}`}
  />
  <div class="flex flex-col justify-evenly items-start px-5 py-2 gap-5 flex-1">
    <h4 class="text-white text-2xl">{title}</h4>
    <p class="text-xs">
      {description}
    </p>
    <div class="flex flex-col justify-between items-start gap-1">
      <div class="text-xs flex justify-between items-center gap-2">
        <span><User class="size-5" /></span>
        <span>{name}</span>
      </div>
      <div class="text-xs flex justify-between items-center gap-2">
        <span><Modules class="size-5" /></span>
        <span>{modules}</span>
      </div>
    </div>
  </div>
  <a
    href={`/courses/${slug}`}
    class="bg-[#009dff] text-center block transition hover:bg-[#009dff]/90 text-white rounded-lg active:scale-[0.97] px-4 py-1 mb-3"
    >Ir al Curso</a
  >
</article>
