---
import Check from '@assets/icons/Check.astro'
import Container from '@components/Shared/Container.astro'
import Header from '@components/Shared/Header.astro'
import Layout from '@layouts/Layout.astro'
import { courses } from '@lib/courses'
import ChevronDown from '@assets/icons/ChevronDown.astro'
import Badge from '@assets/icons/Badge.astro'
import { Picture } from 'astro:assets'
import ProfessionalImpact from '@assets/icons/ProfessionalImpact.astro'

// export const prerender = false

const { slug } = Astro.params

const page = courses.find((item) => item.slug === slug)

console.log(page)
if (!page) {
  return Astro.redirect('/404')
}

const {
  title,
  description,
  img,
  name,
  modules,
  learn,
  courseSyllabus,
  targetAudience,
  prerequisites,
  professional
} = page
---

<Layout title="Courses">
  <Container>
    <Header />
    <main class="mx-10 md:mx-auto">
      <section>
        <section class="my-2">
          <div
            class="flex flex-col md:flex-row h-auto md:h-96 justify-center items-center gap-10"
          >
            <div id="clippy" class="overflow-hidden">
              <img
                src={img}
                alt={title}
                class="md:size-72 size-56 object-cover"
                transition:name=`image-${slug}`
              />
            </div>
            <div class="md:w-[50%]">
              <h2
                class="text-center md:text-left text-4xl md:text-5xl text-white my-3"
              >
                {title}
              </h2>
              <p class="text-center md:text-left">{description}</p>
            </div>
          </div>
        </section>

        <section>
          <div>
            <h2 class="text-white text-3xl">Lo que aprenderás</h2>
            <div
              class="grid grid-cols-1 md:grid-cols-2 gap-10 place-content-center mt-7"
            >
              {
                learn.map((item) => {
                  return (
                    <p class="flex gap-2 ">
                      <small>
                        <Check class="text-[#009dff]" />
                      </small>
                      <span class="text-[16px]">{item}</span>
                    </p>
                  )
                })
              }
            </div>
          </div>
        </section>
      </section>
      <section class="flex-col flex md:flex-row justify-between gap-7">
        <section class="my-2">
          <div>
            <h2 class="text-white text-3xl">Temario del curso</h2>
            <div class="space-y-4 mt-6">
              {
                courseSyllabus.map((item, index) => {
                  return (
                    <details class="group rounded-lg bg-slate-900/80 p-4">
                      <summary class="cursor-pointer list-none font-bold text-white">
                        <div class="flex items-center justify-between">
                          <span>
                            Módulo {index + 1}:{' '}
                            <span class="font-light">{item.title}</span>
                          </span>
                          <small>
                            <ChevronDown />
                          </small>
                        </div>
                      </summary>
                      <p class="mt-2">{item.description}</p>
                    </details>
                  )
                })
              }
            </div>
          </div>

          <section>
            <div class="flex flex-col gap-10 mt-5">
              <h2 class="text-white text-3xl">¿A quién está dirigido</h2>
              <div
                class="flex flex-col items-center justify-between gap-10 pb-5 md:flex-row"
              >
                <div>
                  <img
                    src={img}
                    alt={title}
                    class="h-44 w-96 shadow-lg shadow-cyan-50 rounded-xl object-cover"
                  />
                </div>
                <div class="flex flex-col justify-evenly items-center gap-2">
                  {
                    targetAudience.map((item) => {
                      return (
                        <p class="flex gap-2">
                          <Badge class="text-[#009dff] size-10" />
                          {item}
                        </p>
                      )
                    })
                  }
                </div>
              </div>
            </div>
          </section>
        </section>
        <section class="my-2 flex flex-col gap-7 flex-1">
          <div class="flex flex-col gap-4 justify-center items-center">
            <h2 class="text-white text-3xl">Docente&nbsp;Sistemas</h2>
            <div class="flex flex-col justify-center items-center">
              <img
                src="/images/instructor.webp"
                alt="Instructor de sistemas"
                class="size-48 rounded-full object-cover border-4 border-[#009dff]"
              />
              <h3 class="text-white text-2xl mt-3">Ing. {name}</h3>
              <h4 class="text-[#009dff] text-lg">Ingeniero de sistemas</h4>
              <p class="text-center text-base mt-3">
                El Ing. {name} es un ingeniero de sistemas con experiencia en la
                instalación y configuración de sistemas informáticos, equipos y redes
                de telecomunicación. Además, ha trabajado en varias empresas de tecnología
                y ha sido elegido como el técnico de sistemas de la empresa.
              </p>
            </div>
          </div>
          <section>
            <div>
              <h3 class="text-white text-3xl mb-4">Prerequisitos</h3>
              <p>{prerequisites}</p>
            </div>
          </section>
        </section>
      </section>
      <section class="my-3">
        <div>
          <h2 class="text-white text-3xl mb-6 text-center">
            Impacto Profesional y Beneficio Clave
          </h2>
          <ul
            class="flex flex-col justify-between gap-3 max-w-2xl mx-auto w-full"
          >
            {
              professional.map((item) => {
                return (
                  <li class="flex  items-start gap-4 ">
                    <div>
                      <ProfessionalImpact class="text-[#009dff] size-5 mt-1" />
                    </div>
                    <div class="flex flex-col gap-2">
                      <h2 class=" text-white text-lg">{item.title}</h2>
                      <p>{item.description}</p>
                    </div>
                  </li>
                )
              })
            }
          </ul>
        </div>
      </section>
      <!-- <div>
          <div class="flex items-center mb-2">
            <span class="text-xl mr-4 text-amber-300">★★★★★</span>
            <div class="w-full h-2 bg-gray-300 rounded-full mr-4">
              <div class="h-full bg-yellow-500 rounded-full" style="width: 85%">
              </div>
            </div>
            <span class="text-sm">65%</span>
          </div>

          <div class="flex items-center mb-2">
            <span class="text-xl mr-4">★★★★</span>
            <div class="w-full h-2 bg-gray-300 rounded-full mr-4">
              <div class="h-full bg-yellow-500 rounded-full" style="width: 10%">
              </div>
            </div>
            <span class="text-sm">10%</span>
          </div>

          <div class="flex items-center mb-2">
            <span class="text-xl mr-4">★★★</span>
            <div class="w-full h-2 bg-gray-300 rounded-full mr-4">
              <div class="h-full bg-yellow-500 rounded-full" style="width: 3%">
              </div>
            </div>
            <span class="text-sm">3%</span>
          </div>

          <div class="flex items-center mb-2">
            <span class="text-xl mr-4">★★</span>
            <div class="w-full h-2 bg-gray-300 rounded-full mr-4">
              <div class="h-full bg-yellow-500 rounded-full" style="width: 2%">
              </div>
            </div>
            <span class="text-sm">2%</span>
          </div>

        <div class="flex items-center mb-2">
          <span class="text-xl mr-4">★</span>
          <div class="w-full h-2 bg-gray-300 rounded-full mr-4">
            <div class="h-full bg-yellow-500 rounded-full" style="width: 0%">
            </div>
          </div>
          <span class="text-sm">0%</span>
        </div>
        <div class="text-center mt-6">
          <p class="text-2xl font-bold">
            4.8 <span class="text-sm">Basado en 125 opiniones</span>
          </p>
        </div>
      </section> -->
    </main>
  </Container>
</Layout>

<style>
  section > div:first-child {
    background: linear-gradient(to bottom, #040d1c);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 32px;
    border-radius: 10px;
    /* overflow: hidden; */
  }

  #clippy {
    clip-path: polygon(
      50% 0%,
      83% 12%,
      100% 43%,
      94% 78%,
      68% 100%,
      32% 100%,
      6% 78%,
      0% 43%,
      17% 12%
    );
  }

  details[open] small {
    transition: all 0.3s ease;
    transform: rotate(180deg);
  }
  details small {
    transition: all 0.3s ease;
  }
</style>

<script>
  const details = document.querySelectorAll('details')

  details.forEach((detail) => {
    detail.addEventListener('click', () => {
      console.log('detail')
      details.forEach((item) => {
        if (item !== detail) {
          item.removeAttribute('open')
        }
      })
    })
  })
</script>
